@font-face {
    font-family: 'fontello';
    src: url('../assets/fonds/fontello-58356268/');
    src: url('../assets/fonds/fontello-58356268/#iefix') format('embedded-opentype'),
          url('../assets/fonds/fontello-58356268/font/fontello.woff?67006445') format('woff'),
          url('../assets/fonds/fontello-58356268/font/fontello.ttf?67006445') format('truetype'),
          url('../assets/fonds/fontello-58356268/font/fontello.svg?67006445#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
  }

@font-face {
  font-family: "Roboto-Black";
  src: url("../assets/fonds/Roboto/static/Roboto-Black.ttf") format('truetype');
}
@font-face {
  font-family: "Roboto-Regular";
  src: url("../assets/fonds/Roboto/static/Roboto-Regular.ttf") format('truetype');
}